

</div>
</div>
</div>
</main>
<footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1">
            <form action="#">
                <button class="btn btn-primary " type="submit">
                    <i class='bx bx-arrow-back'></i>Home
                </button>
            </form>

        </p>

        <p class="mb-1">
            Discover convenience and quality at our e-commerce store. Shop a diverse selection of everyday products, from essentials to trendy items, all at competitive prices. 
        </p>
    
    </div>
    
</footer>
<script src="/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"
></script>
</body>
</html>