<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="d-flex justify-content-center align-items-center flex-column">

                    <h1 class=" ">The Shop</h1>
                    <i class='bx bxs-shopping-bags  mx-5 display-2 text-primary bg-light rounded-circle p-2'></i>
                </div>
                <p class="lead text-body-secondary"> 
                    Discover convenience and quality at our e-commerce store. Shop a diverse selection of everyday products, from essentials to trendy items, all at competitive prices. Enjoy secure transactions and swift delivery, making your shopping experience seamless. Elevate your shopping journey with us today!.
                    
                </p>
                <p>
                    <a href="#" class="btn btn-primary btn-lg my-2 px-5">Login</a>
                    <a href="#" class="btn btn-outline-primary btn-lg my-2 px-5">Sign Up</a>
                </p>
            </div>
        </div>
    </section>