
:root {
	--color-1: #05445e;
	--color-2: #189ab4;
	--color-3: #75e6da;
	--color-4: #d4f1f4;
	--font2: "Poppins", sans-serif;
	--font1: "Montserrat", sans-serif;
	--trans: 0.2s ease-in;
	--white: #fff;
	--black: #000;
	--whatsapp-color: #128c7e;
}

.houses {
	/* background-color: var(--color-4); */
	min-height: 100vh;
	
}

/* Card  */
.card {
	cursor: pointer;
	transition: var(--trans);
	box-shadow: 0 0 2px var(--black);
}

.card:hover {
	box-shadow: 0 0 10px var(--black);
	transform: scale(1.01);
}

.category {
	height: 4vh;
	width: 100%;
	/* background-color: red; */
}

.price {
	height: 4vh;
	min-width: 50%;
}


.card-footer {
	height: 4vh;
	min-width: 50%;

}

#price {
	color: var(--color-3);
}

#title {
	color: var(--color-1);
}

#whatsapp-icon,
#email-icon {
	padding: 0.2rem;
	border-radius: 50%;
	/* color: var(--color-3); */
	transition: var(--trans);
}
#whatsapp-icon {
	color: var(--whatsapp-color);
}
#whatsapp-icon:hover,
#email-icon:hover {
	color: var(--black);
	background-color: var(--color-3);
}
#whatsapp-icon:hover {
	box-shadow: 0 0 0.5rem var(--color-3);
	background-color: var(--whatsapp-color);
}

#imageArea {
	position: relative;
}
.heart-icon {
	transition: var(--trans);
	position: absolute;
	color: red;
	right: 20px;
	background-color: var(--color-4);
}

.heart-icon:hover {
	color: var(--color-1);
	background-color: red;
	transform: scale(1.15);
}
#addFormCard {
	background-color: var(--color-4);
}


.carted {
	color: var(--color-1);
	background-color: red;
	transform: scale(1.15);
}
